version: '3.5'

volumes:
  airflow-database-data:

services:

  # Postgres

  postgres:
    image: postgres:14.0
    container_name: postgres_cont
    environment:
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
      - POSTGRES_DB=airflow
    volumes:
      - airflow-database-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
    ports:
      - "5532:5432"


# Airflow

  airflow:
    image: apache/airflow:2.7.0
    container_name: airflow_cont
    env_file:
      - .env
    restart: always
    command: webserver
    user: "{{ ansible_user_uid }}"
    depends_on:
      - postgres
    ports:
      - "8090:8080"
    volumes:
      - {% if deployment_env == 'preprod' %}/home/{{ ansible_user }}/airflow/dags:/opt/airflow/dags{% else %}/home/{{ ansible_user }}/airflow_data/dags:/opt/airflow/dags{% endif %}

      - /home/{{ ansible_user }}/airflow_data/plugins:/opt/airflow/plugins
      - /home/{{ ansible_user }}/airflow_data/log_volume:/opt/airflow/logs
      - /home/{{ ansible_user }}/airflow_data/config:/opt/airflow/config
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"

  airflow-scheduler:
    image: apache/airflow:2.7.0
    container_name: airflow_scheduler_cont
    env_file:
      - .env
    restart: always
    command: scheduler
    user: "{{ ansible_user_uid }}"
    depends_on:
      - postgres
    volumes:
      - {% if deployment_env == 'preprod' %}/home/{{ ansible_user }}/airflow/dags:/opt/airflow/dags{% else %}/home/{{ ansible_user }}/airflow_data/dags:/opt/airflow/dags{% endif %}

      - /home/{{ ansible_user }}/airflow_data/plugins:/opt/airflow/plugins
      - /home/{{ ansible_user }}/airflow_data/log_volume:/opt/airflow/logs
      - /home/{{ ansible_user }}/airflow_data/config:/opt/airflow/config
    environment:
      - CK_IN_PROD_CMAMP_CONTAINER=True
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8974/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
