.DS_Store   # macOS hidden files.
.idea
.ipynb_checkpoints
__pycache__
.dockerignore
.DS_Store
sorrentum_sandbox/devops/mongo_data/_mdb_catalog.wt
sorrentum_sandbox/devops/mongo_data/collection-0-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/collection-2-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/collection-4-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/diagnostic.data/metrics.2023-05-05T01-12-33Z-00000
sorrentum_sandbox/devops/mongo_data/diagnostic.data/metrics.2023-05-05T01-26-19Z-00000
sorrentum_sandbox/devops/mongo_data/diagnostic.data/metrics.interim
sorrentum_sandbox/devops/mongo_data/index-1-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/index-3-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/index-5-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/index-6-6619611777156665982.wt
sorrentum_sandbox/devops/mongo_data/journal/WiredTigerLog.0000000002
sorrentum_sandbox/devops/mongo_data/journal/WiredTigerPreplog.0000000001
sorrentum_sandbox/devops/mongo_data/journal/WiredTigerPreplog.0000000002
sorrentum_sandbox/devops/mongo_data/mongod.lock
sorrentum_sandbox/devops/mongo_data/sizeStorer.wt
sorrentum_sandbox/devops/mongo_data/storage.bson
sorrentum_sandbox/devops/mongo_data/WiredTiger
sorrentum_sandbox/devops/mongo_data/WiredTiger.lock
sorrentum_sandbox/devops/mongo_data/WiredTiger.turtle
sorrentum_sandbox/devops/mongo_data/WiredTiger.wt
sorrentum_sandbox/devops/mongo_data/WiredTigerHS.wt
sorrentum_sandbox/examples/ml_projects/Issue25_Team6_Implement_sandbox_for_Bitquery_and_Uniswap/download_to_csv.py.log
sorrentum_sandbox/examples/ml_projects/Issue25_Team6_Implement_sandbox_for_Bitquery_and_Uniswap/download_to_db.py.log
sorrentum_sandbox/devops/mongo_data/journal/WiredTigerLog.0000000003
sorrentum_sandbox/devops/mongo_data/diagnostic.data/metrics.2023-05-08T03-56-19Z-00000
