[Unit]
Description=Systemd VNC server startup script for user {{ vnc_user }}
Requires=network.target
After=syslog.target network.target
StartLimitInterval=200
StartLimitBurst=5

[Service]
Restart=always
RestartSec=30
Type=simple
User={{ vnc_user }}
ExecStartPre=/usr/bin/vncserver -kill :{{ vnc_desktop_number }} &> /dev/null
ExecStart=/usr/bin/vncserver -SecurityTypes None -depth 24 --I-KNOW-THIS-IS-INSECURE -geometry {{ vnc_desktop_x }}x{{ vnc_desktop_y }} -localhost no -fg :{{ vnc_desktop_number }}
PIDFile=/home/{{ vnc_user }}/.vnc/%H_{{ vnc_desktop_number }}.pid
ExecStop=/usr/bin/vncserver -kill :{{ vnc_desktop_number }}

[Install]
WantedBy=multi-user.target