LogFile=/var/log/zabbix/zabbix_server.log
PidFile=/var/run/zabbix/zabbix_server.pid
LogFileSize=0
SocketDir=/var/run/zabbix
DBHost={{ zabbix_db_host }}
DBPort={{ zabbix_db_port }}
DBName={{ zabbix_db_name }}
DBUser={{ zabbix_db_user }}
DBPassword={{ zabbix_db_password }}
StatsAllowedIP=127.0.0.1
ListenPort=10051
ListenIP=0.0.0.0
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
Timeout=21
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6
LogSlowQueries=3000
