## ############################################################################
## python
## ############################################################################
#python >= 2.7
#python >= 3.0
#certifi
#pytables
pytest
python-dateutil
pytz
#six
tqdm
#xlrd
#xmltodict
## ############################################################################
## pydata
## ############################################################################
matplotlib
numba
numpy
pandas
scikit-learn
scipy
seaborn
statsmodels
## ############################################################################
## jupyter
## ############################################################################
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
nb_conda
## ############################################################################
## Linter
## ############################################################################
autoflake               # Not on Mac.
flake8
isort
pydocstyle
pylint
yapf
## ############################################################################
## Latex
## ############################################################################
#graphviz
## ############################################################################
## AWS
## ############################################################################
awscli
boto3
s3fs
## ############################################################################
## Misc
## ############################################################################
beautifulsoup4
csvkit                  # To process csv.
joblib
jq                      # To process json.
#pymongo
quandl
#pymc3                  # Seems to have problems at least when installing on top of an existing env.
#pydot
