## ############################################################################
## python
## ############################################################################
#python >= 2.7
#python >= 3.0
#certifi
#pytables
pytest
python-dateutil
pytz
#six
tqdm
#xlrd
#xmltodict
## ############################################################################
## pydata
## ############################################################################
matplotlib
numba
numpy
pandas
pyarrow
pywavelets
scikit-learn
scipy
seaborn
statsmodels
## ############################################################################
## jupyter
## ############################################################################
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupytext
ipykernel
nb_conda
nb_conda_kernels
## ############################################################################
## Linter
## ############################################################################
autoflake
flake8
isort
pydocstyle
pylint
#yapf                    # Superseded by black.
black
# conda install -c akode pyment
# pyment
## ############################################################################
## Latex
## ############################################################################
#graphviz
## ############################################################################
## AWS
## ############################################################################
awscli
boto3
s3fs
## ############################################################################
## pymc3
## ############################################################################
arviz                   # Needed by pymc3 for some plotting functionality.
mkl-service             # pymc3 expects it; not sure why conda doesn't solve for it.
pymc3
#pydot
#python-graphviz        # To plot pymc3 graphical models.
## ############################################################################
## Trading
## ############################################################################
# conda install -c quantopian trading-calendars
#trading-calendars
#pip install ta          # Technical analysis package.
## ############################################################################
## Misc
## ############################################################################
pymongo
beautifulsoup4
csvkit                  # To process csv.
joblib
jq                      # To process json.
#pymongo
quandl
#rclone                  # To back up Google Drive (conda install -c hcc rclone)
#gdrive                  # To interact with Google Drive.
