awscli >= 1.19  # For aws CLI.
docker-compose >= 1.29.0
flaky
invoke >= 1.5.0
poetry
pytest >= "6.0.0"
pytest-cov
pytest-instafail
pytest-xdist
python-dateutil
s3fs  # For tools like `publish_notebook.py`.
tqdm