boto3 >= 1.20.17
# Restricted because of CmTask8340, see
#   https://github.com/cryptokaizen/cmamp/issues/8340
# and
#   https://github.com/psf/requests/issues/6707
# for more details.
requests <= 2.31.0
# Keep in sync with `.github/gh_requirements.txt`, see CmTask6488.
docker < 7
docker-compose >= 1.29.0
invoke >= 1.5.0
poetry
pytest >= 6.0.0
# For tools like `publish_notebook.py`.
s3fs
tqdm
# On Mac there is an issue related to this package, so you might want to pin it
# down.
# pyyaml == 5.3.1
