body {
    background-color: #ffeaea;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    background-color: #ffc3c3;
    border-bottom: 1px solid black;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

form {
    display: flex;
    gap: 10px;
    margin: 10px;
}

p {
    margin: 10px;
}

footer {
    background-color: #ffc3c3;
    border-top: 1px solid black;
    height: calc(1.5em + 10px);
    margin-top: auto;
}
