<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rate Limiting API with Redis</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
</head>
<body>
    <input type="button" value="Call API" onclick="callApi()">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>