## ############################################################################
## python
## ############################################################################
#python >= 2.7
#python >= 3.0
#boto3
#certifi
csvkit
#joblib
#pytables
pytest
python-dateutil
pytz
#six
tqdm
#xlrd
#xmltodict
## ############################################################################
## pydata
## ############################################################################
matplotlib
numba
numpy
pandas
scikit-learn
scipy
seaborn
statsmodels
## ############################################################################
## jupyter
## ############################################################################
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
## ############################################################################
## Linter
## ############################################################################
autoflake   # Not on Mac.
flake8
isort
pydocstyle
pylint
yapf
## ############################################################################
## Latex
## ############################################################################
graphviz
## Conda
nb_conda
## ############################################################################
## Misc
## ############################################################################
#pymongo
#quandl
# Seems to have problems at least when installing on top of an existing env.
#pymc3
#pydot
